* {
    margin: 0px;
    border: 0px;
    padding: 0px;
}

body { 
    background-color: aliceblue;
}

#game {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#status {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;

}

#points {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
}

#resetGame {
    background-color: green;
    color: white;
    padding: 10px;
    margin: 10px;
    font-weight: bold;
    border-radius: 10px;
}

#table {
    display: grid;
    grid-template-columns: 100px 100px 100px;
    grid-template-rows: 100px 100px 100px;
    gap: 10px;
}

.block {
    background-color: rgb(230, 230, 230);
    width: 100%;
    height: 100%;
    font-size: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.block:hover {
    background-color: rgb(202, 193, 193);
}