* {
    padding: 0;
    margin: 0;
}

body {
    display: grid;
    grid-template-rows: 60px 1fr 60px;
    grid-template-columns: 300px 1fr;
    min-height: 100vh;
}
/* 400w 500h 
   w: 300px 100px
   h: 60px 380 60px
*/

header {
    background-color: mediumvioletred;
    display: flex;
    padding: 12px;
    justify-content: space-between;
    grid-column: 1/-1;
    align-items: center;
}

footer {
    background-color: mediumvioletred;
    display: flex;
    padding: 12px;
    justify-content: center;
    grid-column: 1/-1;
    align-items: center;
}

nav {
    background-color: #f2d0e0;
    display: flex;
    flex-direction: column;
    padding: 0px 10px;
}

.link-nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
}

button {
    padding: 6px;
}

.icone {
    width: 30px;
    height: 30px;
}

.icone-texto {
    display: flex;
    width: 250px;
    gap: 12px;
    align-items: center;
}

main{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    /* grid-template-columns: 1fr 1fr 1fr 1fr */
    row-gap: 20px;
    column-gap: 20px;
    margin: 20px;
}

.imagem-card{
    width: 100%;
}

.card-produto{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 2px 2px 5px rgb(255, 0, 200);
    align-items: center;
    padding: 6px;
    gap: 3px;
}