/* Estilo.css */

/* *{
	margin: 0px;
	padding: 0px;
} */

/* Estilo do cabeçalho */
header {
	background-color: #333;
	color: #fff;
	padding: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

nav ul {
	display: flex;
	list-style: none;
}

nav li {
	margin-left: 20px;
}

nav a:hover {
	color: #fff;
	text-decoration: none;
}

.destaque {
	background-color: red;
	padding: 20px;
	margin-bottom: 20px;
	color: white;
	width: 500px;
}

.paragrafo{
	width: 300px;
	border: 2px white solid;
	padding: 10px;
	margin: auto;
}

/* Estilo do conteúdo principal */
main {
	padding: 20px;
}

.destaque:hover {
	background-color: #ffcc00;
	padding: 20px;
	margin-bottom: 20px;
	text-align: center;
}

.sobre {
	background-color: #f2f2f2;
	padding: 20px;
	margin-bottom: 20px;
}

.contato {
	background-color: #d9d9d9;
	padding: 20px;
	margin-bottom: 20px;
}


/* Estilo do rodapé */
footer {
	background-color: #333;
	color: #fff;
	padding: 10px;
	text-align: center;
}